<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-xl text-info">Precinct Profile Builder</h1>
<hr>
  <%= render "form", precinct: @precinct %>

  <%= link_to 'Back to precincts', precincts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
