<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-lg text-center text-4xl text-charcoal">Build Poll Worker Account</h1>
<hr>
  <%= render "form", poll_worker: @poll_worker %>

  <%= link_to 'Back to poll workers', poll_workers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
